html {
  background: url(/img/clouds_two.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#jev {
  border-radius: 50%;
  height: 7%;
  width: 7%;
  margin-top: -1.5%;
}

body {
  text-align: center;
  place-items: center;
  font-family: "Roboto Mono", monospace;
}

.card {
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.card i {
  padding: 5%;
  margin-bottom: -10%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  display: flex;
  padding: 2px 16px;
  flex-direction: row;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 265px;
  height: 130px;
}

#cards {
  /* text-align: center;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto; */
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

#container-1 {
  grid-row: 1;
  grid-column: 2;
}

#container-2 {
  grid-row: 1;
  grid-column: 3;
}

#container-3 {
  grid-row: 1;
  grid-column: 4;
}

#container-4 {
  grid-row: 1;
  grid-column: 5;
}

#container-5 {
  grid-row: 1;
  grid-column: 6;
}

form {
  font-size: 1.5vw;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 27%;
  margin-top: 5%;
}
button {
  border-radius: 12px;
  margin-top: 3%;
}

form textarea {
  padding: 10%;
}

form label,
textarea {
  margin: 3%;
}

.description {
    display: flex;
    justify-content: center;
  
}

.typewriter {
  margin-top: 2%;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 8;
  /* margin-bottom: 7%; */
}

.typewriter h1 {
  font-size: 4.2vh;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.6s steps(40, end), blink-caret 0.75s step-end infinite;
}

form {
  grid-row-start: 1;
  grid-row-end: 3;
}
.typewriter p {
  margin-top: 1%;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin-left: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#skills {
  list-style-position: inside;
}
ul {
  margin-right: 2.5%;
}

a {
  color: black;
}

.project-tile {
  margin-top: 3%;
}

#project-tiles-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: -2%;
}

.thumb {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 250px; /* Set a small width */
  text-align: center;
  margin: auto;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  form {
    margin-top: 10%;
    width: 75%;
    font-size: 5vw;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .typewriter h1 {
    font-size: 3.5vw;
  }
  #project-tiles-container {
    display: flex;
    flex-direction: column;
  }
  form {
    margin-top: 15%;
    width: 75%;
    font-size: 5vw;
  }
}

@media all and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #cards {
    display: flex;
    justify-content: space-around;
  }

  .card {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  #typewrite-flex-container {
    margin: auto;
    text-align: center;
  }

  .typewriter {
    width: 100%;
  }
  .typewriter h1 {
    width: 100%;
    font-size: 6vw;
  }

  .typewriter {
    margin-top: 2%;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 8;
    /* margin-bottom: 7%; */
  }
  h1 {
    font-size: 1.8vw;
  }

  .typewriter h1 {
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */

    white-space: normal; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.6s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  form {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .typewriter p {
    font-size: 2vh;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */

    white-space: normal; /* Keeps the content on a single line */
    margin-left: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1em; /* Adjust as needed */
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  #projects {
    margin: auto;
  }

  #project-tiles-container {
    display: flex;
    flex-direction: column;
  }

  /* #card-1 {
    margin-left: -25%;
  }
  #card-2 {
    margin-left: -100%;
  }
  #card-3 {
    margin-left: -175%;
  }
  #card-4 {
    margin-left: -250%;
  } */

  form {
    margin-top: 25%;
    width: 75%;
    font-size: 5vw;
  }
}
